node_modules
.DS_Store
.idea
.vscode

ios/
tmp
tmp2
lib
dist
dist-ssr
docs
coverage
test-results
.pnpm-store
tsconfig.tsbuildinfo
.expo
.yalc

# Not using Zero-Installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env
*.local
*.cache
*error.log
*debug.log